@reference '../../../app/globals.css';

.cardquiz {
  box-shadow:
    0px 3px 6px rgba(0, 0, 0, 0.05),
    0px 8px 15px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.25s;
  @apply cursor-pointer rounded-md bg-gray-900 px-4 pb-4 pt-4;

  &:hover {
    box-shadow:
      0px 3px 6px rgba(0, 0, 0, 0.04),
      0px 15px 25px rgba(0, 0, 0, 0.3),
      0 0 0 1px rgba(255, 255, 255, 0.2);
  }

  h3 {
    z-index: 2;
    margin: 12px 0 4px 0;
    @apply relative text-lg font-semibold leading-8 text-white;

    p {
      color: white !important;
    }
  }

  .correctOption {
    z-index: 2;
    margin: 12px 0 4px 0;
    @apply relative rounded-md border p-2 text-lg font-semibold leading-8 text-white;
  }

  ul {
    @apply my-4;

    li {
      z-index: 2;
      @apply relative text-base font-normal capitalize leading-8;
      color: white !important;
    }
  }

  .description {
    p {
      color: white !important;
      @apply text-base tracking-widest;
    }
    a {
      @apply border-b border-dotted border-s-primary text-primary hover:text-white;
    }
  }
}
